body
{
  overflow-y: hidden;
}
.navbar-inverse{
  background-color: #2196F3;
  margin-bottom: 0;
  border-radius: 0;

}
.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-size: 15;
    font-weight: bold;
}
.navbar-inverse .navbar-brand {
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.navbar {

}

div.scrollmenu {
    background-color: white;
    overflow-y: scroll;
    width:  auto;
    height: 100%

}
div.scrollmenu li {
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border: 0.03px solid 	#F5F5F5;

}
div.scrollmenu li:hover {
    background-color: #777;
}
div.scrollmenu ul
{
  padding: 0;
  margin:  0;
}

/*INPUT CSS*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', serif;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height:100vh;
}

.result {
  display: flex;
  height: 4rem;
  margin-bottom: 1.5rem;
}

.button {
  width: 4rem;
  height: 4rem;
  max-width: 4rem;
  max-height: 4rem;

  margin: 0.5rem;
  padding-top: 0.5rem;

  background: #F2F2F2;

  border: 1px solid #CCCCCC;
  border-radius: 2rem;
  outline: none;

  font-size: 2rem;
}

.button:first-child {
  margin-left: 0;
}

.button:last-child {
  margin-right: 0;
}

.input {
  width: 34rem;
  height: 4rem;

  background: #F2F2F2;

  border: 1px solid #CCCCCC;
  border-radius: 2rem;
  outline: none;

  font-size: 2rem;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 2rem;
}

/*BUTTON CSS*/
button {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid orangeRed;
  background: linear-gradient(45deg, #fff 50%, orangeRed 50%);
  position: relative;
  color: #fff; /*For IE*/
}

button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, orangeRed 50%, transparent 50%);
  z-index: -1;
}

button,
button:after {
  background-size: 300%;
  background-position: 100%;
  transition: 1s, font-size 0.2s;
}

button:hover,
button:hover:after {
  background-position: 0;
  font-size: 1.1em;

  color: orangeRed; /*For IE*/
}
